<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in _products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Image</td>
            <td>@product.Price.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>

@code {

    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        for (int i = 0; i < 25; i++)
        {
            _products.Add(new Product(
                i+1,
                $"Product {i+1}",
                $"Product's {i+1} Description",
                $"imagem-prod-{i}",
                (i+1)*13.48M,
                1));
        }
    }
}